<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>
    <log4net>
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <param name="File" value="C:\Users\IK0212141\Documents\APO07\Tools\Logs\LogTest01.txt" />
            <param name="AppendToFile" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="LogFileAppender" />
        </root>
        <logger name="ConvertTo-PKPIKTimeAndCostsReport">
            <level value="ALL" />
        </logger>
        <logger name="Trim-Description">
            <level value="ALL" />
        </logger>
        <logger name="Trim-EmptyRows">
            <level value="ALL" />
        </logger>
        <logger name="Delete-Columns">
            <level value="ALL" />
        </logger>
        <logger name="Format-Pivotable">
            <level value="ALL" />
        </logger>
        <logger name="Import-Report">
            <level value="ALL" />
        </logger>
    </log4net>
</configuration>